<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">


	<head>
	<meta charset ="utf-8"/>
	<title>Participants List</title>
	</head>	
	<body>
	<div class = "container">
	<div class = "container">
		<div align = "center">
			<div class="jumbotron"> 			
					<h2 >All Auctions</h2>
					<h6>List of all the auctions.</h6>
			</div>
		</div>
	</div>
		
		<div class = "container">
				<div align ="right">
					<a class = "btn btn-primary" href = "/participants">Switch user</a>
						<p style="display: inline">Username: </p>
						<p style="display: inline" th:text="${participant.first_name}"></p>
						<p style="display: inline" th:text="${participant.last_name}"></p>
						<br/><br/>
				</div>
			
			
			<div class = "container">
				<ul class="nav nav-tabs">
				<li role="presentation"><a th:href="@{'/participant/' + ${participant.participant_id}}">Home</a></li>
				  <li role="presentation"><a th:href="@{'/participant/' + ${participant.participant_id} + '/notifications'}">Notifications</a></li>
				  <li role="presentation"><a th:href="@{'/participant/' + ${participant.participant_id} + '/all_active_auctions'}">Active auctions</a></li>
				  <li role="presentation" class="active"><a th:href="@{'/participant/' + ${participant.participant_id} + '/all_auctions'}">All auctions</a></li>
				  <li role="presentation"><a th:href="@{'/participant/' + ${participant.participant_id} + '/my_auctions'}">My auctions</a></li>
				  <li role="presentation"><a th:href="@{'/participant/' + ${participant.participant_id} + '/new_auction'}">Create a new auction</a></li>
				</ul>
			</div>
			
			
			<div class="container">
				<table class="table">
			        <thead>
			            <tr>
			            	<th>Id</th>
			                <th>Name</th>
			                <th>Description</th>
			                <th>Quantity</th>
			                <th>Start price</th>
			                <th>Minimum price</th>
			                <th>Time</th>
			                <th>Current price</th>
			                <th>Last bidder</th>
			                <th>Start time</th>
							<th>End time</th>
			                <th>Action</th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr th:each="auction : ${listAuctionItems}" class = 'clickable_row' data-href='url://localhost/'>
			            	<td th:text="${auction.auction_item_id}">Auction id</td>
			                <td th:text="${auction.name}">Auction name</td>
			                <td th:text="${auction.description}">Description</td>
			                <td th:text="${auction.quantity}">Quantity</td>
			                <td th:text="${auction.start_price}">Start price</td>
			                <td th:text="${auction.min_price}">Minimum price</td>
			                 <td th:text="${auction.time}">Time</td>
			                  <td th:text="${auction.curr_price}">Current price</td>
			                   <td th:text="${auction.last_bidder}">Last bidder</td>
			                   <td th:text="${auction.start_time.toLocalDate()} + ' ' + 
			                   		${auction.start_time.getHour()} + ':' +
			                   		${auction.start_time.getMinute()} + ':' +
			                   		${auction.start_time.getSecond()}">Start time</td>
			                   	<td th:text="${auction.start_time.plusSeconds(auction.time).toLocalDate()} + ' ' + 
			                   		${auction.start_time.plusSeconds(auction.time).getHour()} + ':' +
			                   		${auction.start_time.plusSeconds(auction.time).getMinute()} + ':' +
			                   		${auction.start_time.plusSeconds(auction.time).getSecond()}">End time</td>
			                   <td>
			                   	<a th:href="@{'/participant/' + ${participant.participant_id} + '/auction/' + ${auction.auction_item_id}}" 
			                   		class="btn btn-success">View auction</a>
			                   </td>
			            </tr>
			        </tbody>
   				 </table>
				</div>
		</div>
	</div>
	
	</body>
	
	
	
	
</html>