<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">


	<head>
	<meta charset ="utf-8"/>
	<title>Auction Details</title>
	</head>
	<body>
		<div class="container">
			<div align="center">
				<div class="jumbotron">
					<h2>Auction Details</h2>
				</div>
			</div>
		</div>
		
		<div class = "container">
				<div align ="right">
					<a class = "btn btn-primary" href = "/participants">Switch user</a>
						<p style="display: inline">Username: </p>
						<p style="display: inline" th:text="${participant.first_name}"></p>
						<p style="display: inline" th:text="${participant.last_name}"></p>
						<br/><br/>
				</div>
		</div>
		
		<div class = "container">
				<ul class="nav nav-tabs">
				<li role="presentation"><a th:href="@{'/participant/' + ${participant.participant_id}}">Home</a></li>
				  <li role="presentation"><a href="#">Notifications</a></li>
				  <li role="presentation"><a href="#">Active auctions</a></li>
				  <li role="presentation"><a th:href="@{'/participant/' + ${participant.participant_id} + '/all_auctions'}">All auctions</a></li>
				  <li role="presentation"><a href="#">My auctions</a></li>
				  <li role="presentation"><a th:href="@{'/participant/' + ${participant.participant_id} + '/new_auction'}">Create a new auction</a></li>
				</ul>
		</div>	
		<br/><br/>
		<div class = "container">
			<div class = "container">
				<h4 style = "display: inline;">Auction id:</h4>
				<h4 style = "display: inline;"th:text = "${auctionItem.auction_item_id}"></h4>
				<br/></br>
				<div align = "center">
					<h2 th:text = "${auctionItem.name}"></h2>
				</div>
				
				<h5 th:text = "${auctionItem.description}"></h5>
				<br/><br/><br/>
				<h4 style = "display: inline;">Quantity:</h4>
				<h4 style = "display: inline;"th:text = "${auctionItem.quantity}"></h4>
				<h4 style = "display: inline;">, Start price:</h4>
				<h4 style = "display: inline;"th:text = "${auctionItem.start_price}"></h4>
				<h4 style = "display: inline;">, Minimum price:</h4>
				<h4 style = "display: inline;"th:text = "${auctionItem.min_price}"></h4>
				<h4 style = "display: inline;">, Start time:</h4>
				<h4 style = "display: inline;" th:text="${auctionItem.start_time.toLocalDate()} + ' ' + 
			                   		${auctionItem.start_time.getHour()} + ':' +
			                   		${auctionItem.start_time.getMinute()} + ':' +
			                   		${auctionItem.start_time.getSecond()}">Start time</h4>
				<br/></br>
				<h3 style = "display: inline;">Time left:</h3>
				<h3 style = "display: inline;" id = "timer"></h3>
								<br/></br>
			    <br/></br>
				<h3 style = "display: inline;">Current price:</h3>
				<h3 style = "display: inline;"th:text = "${auctionItem.start_price}"></h3>
				<div class = "container" id = "bidding" disabled="disabled">
					<form action="@{'/participant/' + ${participant.participant_id} +
					'/auction/' + ${auctionItem.auction_item_id} + '/bid'" th:object="${auctionItem}" method ="post">


								<td>New price:</td>
								<td><input type="text" th:field="*{curr_price}"/></td>
								<td><button type="submit" class= "btn btn-success">Bid</button></td>
								


					</form>
				</div>
				

			</div>
		</div>

	</body>
		
	<script>
		document.getElementById('bidding').style.display = 'none';
		var sec = "[[${seconds}]]";
		// Update the count down every 1 second
		var x = setInterval(function() {

		  var days = 0;
		  var hours = 0;
		  var minutes = 0;
		  var seconds = 0;
		  
		  var res = sec;
		  
		  if((res / 86400) > 0){
			  days = Math.floor(res/86400);
			  res = res - (days * 86400);
		  }
		  if((res / 3600) > 0){
			  hours = Math.floor(res/3600);
			  res = res - (hours * 3600);
		  }
		  if((res/ 60) > 0){
			  minutes = Math.floor(res/60);
			  res = res - (minutes * 60);
		  }
		  if(res > 0){
			  seconds = Math.floor(res);
			  res = res -(seconds);
		  }
		  sec = sec - 1;

		  document.getElementById("timer").innerHTML = days + "d " + hours + "h "
		  + minutes + "m " + seconds + "s ";
		
		  // If the count down is finished, write some text
		  if(sec > 0){
			  document.getElementById('bidding').style.display = 'block';
		  }else if (sec <= 0) {
			  document.getElementById('bidding').style.display = 'none';
		    clearInterval(x);
		    document.getElementById("timer").innerHTML = "Auction ended";
		  }
		}, 1000);
	</script>		
</html>