<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
      
<head>
<meta charset="utf-8"/>
<title>Auction List</title>
</head>
<body>
	<div class = "container">
	<div class = "container">
		<div align = "center">
			<div class="jumbotron">
				<h2>Auction List</h2>
				<a class = "btn btn-primary" href = "/">Back to menu</a>
				<a class = "btn btn-primary" href = "/new">Create a new auction</a>
			</div>
			<div class="container">
				<table class="table">
			        <thead>
			            <tr>
			                <th>Name</th>
			                <th>Description</th>
			                <th>Quantity</th>
			                <th>Start price</th>
			                <th>Minimum price</th>
			                <th>Time</th>
			                <th>Current price</th>
			                <th>Last bidder</th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr th:each="auction : ${listAuctionItems}">
			                <td th:text="${auction.name}">Product ID</td>
			                <td th:text="${auction.description}">Description</td>
			                <td th:text="${auction.quantity}">Quantity</td>
			                <td th:text="${auction.start_price}">Start price</td>
			                <td th:text="${auction.min_price}">Minimum price</td>
			                 <td th:text="${auction.time}">Time</td>
			                  <td th:text="${auction.curr_price}">Current price</td>
			                   <td th:text="${auction.last_bidder}">Last bidder</td>
			            </tr>
			        </tbody>
   				 </table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>